body {
  background-image: url("https://cdn.pixabay.com/photo/2016/11/22/22/25/abs-1850926_960_720.jpg");
  height: 100%;
  background-size: cover;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 100px;
  color: white;
}

.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, white, #44494d);
  background-image: -moz-linear-gradient(top, white, #44494d);
  background-image: -ms-linear-gradient(top, white, #44494d);
  background-image: -o-linear-gradient(top, white, #44494d);
  background-image: linear-gradient(to bottom, white, #44494d);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-right: 8px;
}

.btn:hover {
  background: #0a290c;
  background-image: -webkit-linear-gradient(top, #0a290c, #e7ecf0);
  background-image: -moz-linear-gradient(top, #0a290c, #e7ecf0);
  background-image: -ms-linear-gradient(top, #0a290c, #e7ecf0);
  background-image: -o-linear-gradient(top, #0a290c, #e7ecf0);
  background-image: linear-gradient(to bottom, #0a290c, #e7ecf0);
  text-decoration: none;
}

.linky {
  margin-left: 380px;
}

.btun {
  margin-left: 100px;
}

.nav-link {
  margin-right: 8px;
  background-color: inherit;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
}

.navbar {}

.navbar-brand {
  background-color: white;
  font-family: cursive;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.container-box {
  border: 2px solid white;
  margin-left: 850px;
  margin-top: 100px;
  height: 350px;
  width: 540px;
  text-align: center;
  color: white;
}
.form-group{
  padding: 20px,25px;
  text-align: center;
  margin:14px;
  width: auto;
text-align: center;
}
.input{
  border-radius: 8px;
  width: 350px;
  text-align: center;
}
.btny{
  width:350px;
  margin-left: 10px;
}
